@use "../src/styles/typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
}

.app {
  width: 100%;
  max-width: 425px;
  margin: auto;
  overflow: scroll;
  scrollbar-width: none;
  padding-top: 5rem;
}
